<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ImageToTextConverter - Contact page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

    <body id="dark-mode">
        <nav class="navbar navbar-expand-lg bg-dark sticky-top">
            <div class="container">
                <a style="text-decoration:none;" class="navbar-brand text-warning" href="/"><b>ImageToTextConverter</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse menu-main" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu-item">
                        <li class="nav-item">
                            <a style="text-decoration:none;" class="nav-link text-light" href="{{url_for('index')}}">home</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration:none;" class="nav-link text-light" href="{{url_for('about')}}">about</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration:none;" class="nav-link text-light" href="{{url_for('contact')}}">contact</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration:none;" class="nav-link text-light" href="{{url_for('help')}}">help</a>
                        </li>
                    </ul>
                    </div>
            </div>
        </nav>
<br>
    <section id="banner">
        <div class="container zindex">
            <div class="row">
                <div class="col-lg banner-txt">
                   <h3 align="center">Contact Us</h3>
                   <p>

                    We value your feedback and are always here to assist you. If you have any questions, concerns, or suggestions regarding our Image to Text Converter, please feel free to reach out to us using the contact information provided below. We are committed to providing you with the best possible support.
                    <br><br>                   
                    Customer Support Email: support@imagetotextconverter.com
                    <br><br>
                    Phone Number: +1 (XXX) XXX-XXXX
                    <br><br>
                    Business Address:<br>
                    123 Main Street,<br>
                    City, State, ZIP Code,<br>
                    Country<br>
                    <br>                   
                    Social Media:
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                    Facebook: [Insert Facebook URL]
                    Twitter: [Insert Twitter URL]
                    Instagram: [Insert Instagram URL]
                    <br><br>
                    We appreciate your interest in our services and look forward to hearing from you. Our dedicated support team will respond to your inquiries as soon as possible.
                    <br><br>
                    Please note that our customer support hours are from Monday to Friday, 9:00 AM to 5:00 PM (local time). Any inquiries received outside of these hours will be addressed on the following business day.
                    <br><br>
                    Thank you for choosing our Image to Text Converter. We appreciate your trust and are committed to delivering a seamless experience for all your image conversion needs.</p>
                    
                </div>
            </div>
        </div>
    </section>
        <!-- JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>







    