<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ImageToTextConverter - Error page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body id="dark-mode">
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a style="text-decoration:none;" class="navbar-brand" href="/"><b>ImageToTextConverter</b></a>
            
        </div>
    </nav>

    <section id="banner">
        <div class="container zindex">
            <div class="row">
                <div class="col-lg-7 banner-txt">
                    <hr>
                    <h3 align="center">Oops! no image detected</h3>
                    <hr>

                    <a href="/" style="border-radius:10px;text-decoration:none;height:40px;width:100px;font-family: 'Poppins', sans-serif;background: rgb(255,85,0);
background:black; border:0px;color:white;">Try again</a>
            
                </div>
                <div class="col-lg-5">
                 
                </div>
            </div>
        </div>
    </section>

    <!--JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>







    